/* #F6F7F8 - grey */
/* #00a2c7 - turquoise */
/* #2e3e48 - font */
/* rgba(46,62,72,.6) - secondary font */
/* border-radius: 8px */

body {
  margin: 0;
  background-color: #F6F7F8;
  font-family: "Graphik Meetup";

  display: flex; /* Remove later */
  justify-content: center; /* Remove later */
  margin-top: 60px; /* Remove later */
}

.whereWhen {
  background-color: #fff;
  border-radius: 8px;
  width: 350px; /* Will change based on page layout */
  height: 450px /* Remove later */
  display: flex;
  flex-direction: column;
}

.when,
.where {
  display: flex;
  font-size: .875rem;
  line-height: 1.6;
  padding: 15px;
}

.where__icon,
.when__icon {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  stroke: transparent;
  fill: rgba(46,62,72,.6);
}

.where span,
.when span {
  display: block;
}

.where address {
  font-style: normal;
  color: rgba(46,62,72,.6);
}
